  body{

    background-image:url("../img/fondo.jpeg");
  }
  
  
  h1 {
      color: rgb(18, 18, 19);
  }

  p {
      color: red;

      font-family: verdana;
      font-size: 300%;
      border: 2px solid powderblue;
      

      color: red;
      font-family: courier;
      font-size: 160%;
  }

  h2 {
      color: blue;
      
  }

  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
   
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;

.ciudad{
        background-color: tomato;
        color: white;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
      }
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  } 

  #myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
